<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Создать автомобиль</title>
</head>
<body>
<div class="container p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form class="mt-3" th:action="@{/cars/create}" method="post">
                    <div class="mb-3" th:if="${error}">
                        <p class="text-danger" th:text="${error}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="Brand" class="form-label" style="color: #442c66"><b>Бренд</b></label>
                        <input type="text" class="form-control" id="Brand" name="brand" placeholder="Toyota" required>
                    </div>
                    <div class="mb-3">
                        <label for="Name" class="form-label" style="color: #442c66"><b>Модель</b></label>
                        <input type="text" class="form-control" id="Name" name="name" placeholder="RAV4" required>
                    </div>
                    <div class="mb-3">
                        <label for="Engine" class="form-label" style="color: #442c66"><b>Двигатель</b></label>
                        <select class="form-control" id="Engine" name="engine.id">
                            <option th:each="engine : ${engines}" th:value="${engine.id}" th:text="${engine.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Colour" class="form-label" style="color: #442c66"><b>Цвет</b></label>
                        <input type="text" class="form-control" id="Colour" name="colour" placeholder="Белый" required>
                    </div>
                    <div class="mb-3">
                        <label for="Mileage" class="form-label" style="color: #442c66"><b>Пробег</b></label>
                        <input type="text" class="form-control" id="Mileage" name="mileage" placeholder="15000" required>
                    </div>
                    <div class="mb-3">
                        <label for="Year" class="form-label" style="color: #442c66"><b>Год выпуска</b></label>
                        <input type="text" class="form-control" id="Year" name="year" placeholder="2021" required>
                    </div>
                    <div class="mb-3">
                        <label for="BodyType" class="form-label" style="color: #442c66"><b>Кузов</b></label>
                        <input type="text" class="form-control" id="BodyType" name="bodyType" placeholder="Внедорожник 5 дв." required>
                    </div>
                    <div class="mb-3">
                        <label for="Gearbox" class="form-label" style="color: #442c66"><b>Коробка</b></label>
                        <input type="text" class="form-control" id="Gearbox" name="gearbox" placeholder="Автоматическая" required>
                    </div>
                    <div class="mb-3">
                        <label for="FuelType" class="form-label" style="color: #442c66"><b>Топливо</b></label>
                        <input type="text" class="form-control" id="FuelType" name="fuelType" placeholder="Бензин" required>
                    </div>
                    <div class="mb-3">
                        <label for="Type" class="form-label" style="color: #442c66"><b>Состояние</b></label>
                        <input type="text" class="form-control" id="Type" name="type" placeholder="б/у" required>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/}">Отмена</a></div>
                                <div class="col-6"><button class="btn btn-info w-100" type="submit">Создать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>