<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>cars.ru</title>
</head>
<body style="font-family: Verdana">
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Фото</th>
                        <th scope="col">Характеристики</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Год выпуска</th>
                        <th scope="col">Пробег</th>
                        <th scope="col">Продавец</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="postPreview: ${postPreviews}">
                        <td width="20%" height="20%">
                            <a th:href="@{/posts/{postId}(postId=${postPreview.id})}" th:if="${user.name != 'Гость'}">
                                <img  th:each="photo,iterStat : ${postPreview.photos}" th:if="${iterStat.first == true}" th:src="@{/files/{photoId}(photoId=${photo.id})}" class="img-fluid rounded" alt="No image">
                            </a>
                            <a th:href="@{/users/login}" th:if="${user.name == 'Гость'}">
                                <img th:each="photo,iterStat : ${postPreview.photos}" th:if="${iterStat.first == true}" th:src="@{/files/{photoId}(photoId=${photo.id})}" class="img-fluid rounded" alt="No image">
                            </a>
                        </td>
                        <td>
                            <b><p th:text="${postPreview.brand + ' ' + postPreview.name}" ></p></b>
                            <p> <span th:text="${postPreview.engine + ' / ' + postPreview.fuelType}"></span>
                                <br>
                                <span th:text="${postPreview.color}"></span>
                                <br>
                                <span th:text="${postPreview.gearbox}"></span>
                                <br>
                                <span th:text="${postPreview.bodyType}"></span></p>
                        </td>
                        <td>
                        <b><p th:text="${postPreview.price} + ' ₽'" ></p></b>
                        </td>
                        <td th:text="${postPreview.year}" />
                        <td th:text="${postPreview.mileage + ' км'}" />
                        <td th:text="${postPreview.owner}" />
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pr-3">
                <div class="col-9"></div>
                <div class="col-3"><a class="btn btn-info w-100" th:href="@{/posts/create}" th:if="${user.name != 'Гость'}">Новое объявление</a></div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>