<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary text-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Car</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-item nav-link" th:href="@{/posts}">Все</a>
          <a class="nav-item nav-link" th:href="@{/}">За сутки</a>
          <a class="nav-item nav-link" th:href="@{/}">С фото</a>
        </div>
      </div>
      <div class="d-flex justify-content-end" th:if="${user.name == 'Гость'}">
        <a class="nav-link text-light me-3" th:href="@{/users/register}">Регистрация</a>
        <a class="nav-link text-light" th:href="@{/users/login}">Войти</a>
      </div>
      <div class="d-flex justify-content-end" th:if="${user.name != 'Гость'}">
        <a class="nav-link text-light me-3" href="#" th:text="${user.name}"></a>
        <a class="nav-link text-light" th:href="@{/users/logout}">Выйти</a>
      </div>
    </div>
  </nav>
</div>